
.register_container{

    min-height: 115px;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form_container{
    display: flex;
    flex-direction: column;
}

.register_text{
    font-weight: var(--text-bold);
    font-size: 18px;
    line-height: 24px;
    color: white;
}
.register_content{
    display: flex;
    flex-direction: column;
}


.rg_form_container{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    border: 0px !important;
    border-radius: 0px !important;
    outline: 0px !important;

}
.rg_inp_container{

    margin-right:1rem ;
}

.rg_form_inp{
    padding: 4px 11px;
    height: 48px;
    outline: 0px !important;
    border: none !important;
    border-radius: 0px !important;

}

.rg_form_btn{
    padding: 10px 20px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;



}




.fast_rg_container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.register_container .col-10{
    display: flex;
    justify-content: center;
}


.fr_btn {
    width: 45px;
    height: 45px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-right: 0.5rem;
}
.fast_rg_content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fast_rg_content .fr-facebook a {
    text-decoration: none;

}
.fast_rg_content .fr-facebook a i{
    font-size: 25px;
    color: blue;
}

.fast_rg_content .fr-google a {
    text-decoration: none;

}
.fast_rg_content .fr-google a i{
    font-size: 25px;
    color: blue;
}

.fast_rg_content .fr-apple a {
    text-decoration: none;

}
.fast_rg_content .fr-apple a i{
    font-size: 25px;
    color: black;
}

/*! register bitti */

/* *slider başladı */

.slider_container{
    height:713px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(to bottom ,rgb(8, 19, 41,0.5), rgb(8, 19, 41,1));


}
.slider_content h1{
    font-size: 40px;

}

.slider_container img{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;

}
.slider_text_container{
    width: 100%;
    height: 100%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.slider_text{
    color:white;
    font-size: 18px;
    font-weight: var(--text-bold);

}


/*! slider bitti */

/* *one cikan basladi */

.one_cikan_container p{
    color: white;
    text-align: center;
    font-size: 20px;
}
/*! one cikan bitti */

/* *parca_3_container */

.parca_3_container{
    width: 100%;

}

.parca_3_container p{
    color: white;
    font-size: 20px;
    font-weight: var(--text-bold);
    text-align: center;

}
.parca_3_container img {

    width: 100%;
    height: auto;

}
.parca-4 .col-3{
    border-left: 4px solid #3B82F6;
    height: 55px;
    display: flex;
    align-items: center;
    
    
    
}
.parca-4 .col-3 span{
    color: white;
    line-height: 1.75rem;
    margin-left: 8px;
}

/*! parca-4 bitti */
/** parca-5 başladı */

.parca_5 p {
    color: white;
    font-size: 20px;
    font-weight: var(--text-bold);
    text-align: center;
}

.canli_yayin_knl .item{
    /* width: 150px; */
    height: 120px;
    background-color: white;
    border-radius: 5px;
}
.canli_yayin_knl .item a{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.canli_yayin_knl .item a img{
    width: 80px;
    height: 80px;
}
/*! parca-5 bitti */

/** parca-6 başladı */

.parca_6_img_container {
position: relative;
}
.parca_6_img_container .background_image{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-image: linear-gradient(to right ,rgb(8, 19, 41,0), rgb(8, 19, 41,1));

}

.parca_6_content_container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
.parca_6_content_container h1{
    font-size: 24px;
    color: white;
    line-height: 2rem;


}
.parca_6_text_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.parca_6_content_container .parca_6_text_container p{
    font-weight: var(--text-bold);
    color: white;
    line-height: 2rem;
    font-size: 1.25rem;
}
.parca_6_content_container button{
    width: 18rem;
    height: 2.75rem;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}



/*! parca-6 bitti */

/** en sevilenler slider başladı */

.en_sevilen_slider_container p{
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: var(--text-bold);

}

/*! en sevilenler slider bitti */


/** sss başadı */

.sss_text{
    color: white;
    font-size: 20px;
    font-weight: var(--text-bold);
    text-align: center;
}


   

.sss_item  .col-2 a{
    text-decoration: none;
    color: white;
    height: 100%;
    width: 95%;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;

}

/* .c_accordion_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.c_accordion_header span{
    font-size: 20px;
    color: white;

} */

.accordion_button{
    background-color: transparent;
    color: white;
    border: none;
    outline: none !important;
    width: 100%;


}

.accordion_button i {
    font-size: 20px;
    color: white !important;
}


/* .accordion_button i:hover {
    transform: rotate(180deg);
    transition: transform .2s ease-in-out ;

} */


/*! sss bitti */
