{% load static %}


<section class="container-fluid  en_sevilen_slider_container mx_widht cm-t ">

   <p>BluTV'nin En Sevilenleri</p>

    <div class="en_sevilen_slider   owl-carousel owl-theme"> 
        <div class="item"><a href="#"><img src="{% static 'sayfalar/img/en_sevilen_slider/slider_1.png' %}" alt=""></a></div>
        <div class="item"><a href="#"><img src="{% static 'sayfalar/img/en_sevilen_slider/slider_2.png' %}" alt=""></a></div>
        <div class="item"><a href="#"><img src="{% static 'sayfalar/img/en_sevilen_slider/slider_3.png' %}" alt=""></a></div>
        <div class="item"><a href="#"><img src="{% static 'sayfalar/img/en_sevilen_slider/slider_4.png' %}" alt=""></a></div>
        <div class="item"><a href="#"><img src="{% static 'sayfalar/img/en_sevilen_slider/slider_5.png' %}" alt=""></a></div>
        <div class="item"><a href="#"><img src="{% static 'sayfalar/img/en_sevilen_slider/slider_6.png' %}" alt=""></a></div>
    </div> 

</section>