{% load static %}


<section class="one_cikan_container container-fluid p-0">
    <p>BlueTV Özel Yapımlar</p>
    <div class="one_cikan_slider owl-carousel owl-theme">
        <div class="item"><a href="#"><img src="{% static 'sayfalar/img/slider-item1.png' %}" alt=""></a></div>
        <div class="item"><a href="#"><img src="{% static 'sayfalar/img/slider-item2.png' %}" alt=""></a></div>
        <div class="item"><a href="#"><img src="{% static 'sayfalar/img/slider-item3.png' %}" alt=""></a></div>
        <div class="item"><a href="#"><img src="{% static 'sayfalar/img/slider-item-4.png' %}" alt=""></a></div>
        <div class="item"><a href="#"><img src="{% static 'sayfalar/img/slider-item-5.png' %}" alt=""></a></div>
    </div>
</section>
765