{% load static %}
{% comment %} ana sayfa 4. parça {% endcomment %}
<section class="container-fluid my-5 ">
    <div class="mx-auto col-10">

    <div class="row parca-4 ">
        <div class="col-3"><span>10.000 saatten fazla film, dizi ve daha <br> fazlası.</span></div>
        <div class="col-3"><span>Dizüstü ve masaüstü tüm <br>bilgisayarlarda</span></div>
        <div class="col-3"><span>Akıllı televizyonlarda ve Apple TV’de</span></div>
        <div class="col-3"><span>Tüm telefon ve tabletlerde, dilediğin <br> içeriği indir & izle!</span></div>
    </div>
</div>

</section>
