{% load static %}
{% comment %} ana sayfa 5. parça {% endcomment %}
<section class="parca_5 mx_widht container-fluid mt-4">
    <p>En Sevilen Canlı Yayın Kanalları</p>
    <div class="canli_yayin_knl owl-carousel owl-theme">
        <div class="item"><a href="#"><img src="{% static 'sayfalar/img/tv_logo/beyaz_tv_logo.webp' %}" alt=""></a></div>
        <div class="item"><a href="#"><img src="{% static 'sayfalar/img/tv_logo/dmax_tv_logo.webp' %}" alt=""></a></div>
        <div class="item"><a href="#"><img src="{% static 'sayfalar/img/tv_logo/kontv_tv_logo.webp' %}" alt=""></a></div>
        <div class="item"><a href="#"><img src="{% static 'sayfalar/img/tv_logo/tlc_tv_logo.webp' %}" alt=""></a></div>
        <div class="item"><a href="#"><img src="{% static 'sayfalar/img/tv_logo/trteba_tv_logo.webp' %}" alt=""></a></div>
        <div class="item"><a href="#"><img src="{% static 'sayfalar/img/tv_logo/trtturk_tv_logo.webp' %}" alt=""></a></div>
        <div class="item"><a href="#"><img src="{% static 'sayfalar/img/tv_logo/ulke_tv_logo.webp' %}" alt=""></a></div>
    </div>
</section>