{% load static %}

<section class="container-fluid p-0 slider_container">
    <img src="{% static 'img/slider.webp' %}" alt="">

    <div class="slider_text_container">
        <div class="slider_content col-11 mx-auto">

            <h1 class="text-white">
                Türkiye'nin İnternet Televizyonu
            </h1>
            <p class="slider_text">
                Yerli ve yabancı 10.000 saatten fazla içerik<br> ayda sadece ₺15.9 <br>
                <i class="text-muted">*Yıllık aboneliklerd</i>
            </p>
            <p class="slider_text mt-5">İstediğin zaman iptal et.</p>
            <div class="slider_btn ">
                <button class="btn btn-light">Ücretsiz Dene</button>
            </div>
        </div>
    </div>
</section>
