{% load static %}


<section class=" container-fluid cm-t sss_container">

    <p class="sss_text">
        BluTV'de Daha Fazlasını Keşfet
    </p>

    <div class="row sss_item  cm-t mx_widht ">
        <div class="col-2"><a class=" rounded-pill" href="#">Filmler</a></div>
        <div class="col-2"><a class=" rounded-pill" href="#">Diziler</a></div>
        <div class="col-2"><a class=" rounded-pill" href="#">Canlı TV</a></div>
        <div class="col-2"><a class=" rounded-pill" href="#">Discovery+</a></div>
        <div class="col-2"><a class=" rounded-pill" href="#">Çocuk</a></div>
        <div class="col-2"><a class=" rounded-pill" href="#">Belgeseller</a></div>
    </div>
</section>

<section class="container-fluid cm-t mx_widht">

    <div style="height:600px" class="row cm-t ">
        <p class="sss_text">Sıkça Sorulan Sorular (sonra eklenecek)</p>
    </div>
</section>