:root{
    --navbar-color:#081329;
    --text-bold:500;
    --secondary-color:#23306D;
    --body-color:#081329;
}
body{
    background-color:var(--body-color);
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   
    background-color: var(--navbar-color);
    min-height:54px ;
}
.navbar a{
    color: white;
    font-weight: var(--text-bold);
    text-decoration: none;
}